<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Finances">
        <activity
            android:name=".presentation.activities.EditInvestmentsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.ListInvestmentActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.AddApiInvestmentActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.AddManualInvestmentActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.InvestmentActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.LogActivity"
            android:exported="false"
            android:label="@string/title_activity_log"
            android:theme="@style/Theme.Finances.NoActionBar" />
        <activity
            android:name=".presentation.activities.TestActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.AddItemActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".presentation.activities.FullPriceShopActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".presentation.activities.EventsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.BankActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.MenuActivity"
            android:exported="false"
            android:theme="@style/Theme.Finances.NoActionBar" />
        <activity
            android:name=".presentation.activities.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>